.btn {
  padding: 13px 30px;
  margin: 20px 0;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s;
}

.btn_orange {
  background-color: #FB5C2D;
  border: 1px solid #FB5C2D;
  color: #FFFFFF;
}

.btn_orange:hover,
.btn_orange:active,
.btn_orange:focus {
  background-color: transparent;
  border: 1px solid #FB5C2D;
  color: #FB5C2D;
}

.btn_bleu {
  background-color: #174AFC;
  border: 1px solid #174AFC;
  color: #FFFFFF;
}

.btn_bleu:hover,
.btn_bleu:active,
.btn_bleu:focus {
  background-color: transparent;
  border: 1px solid #174AFC;
  color: #174AFC;
}

.btn_rouge {
  background-color: red;
  border: 1px solid red;
  color: #FFFFFF;
}

.btn_rouge:hover,
.btn_rouge:active,
.btn_rouge:focus {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}

.btn_noir {
  background-color: black;
  border: 1px solid black;
  color: #FFFFFF;
}

.btn_noir:hover,
.btn_noir:active,
.btn_noir:focus {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

.container-connexion {
  background-color: #ecebeb;
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.container-connexion .bouton-retour-connexion button {
  font-weight: 600;
  color: #174AFC;
  padding-left: 30px;
  margin-top: 30px;
}
.container-connexion .bouton-retour-connexion button i {
  padding-right: 5px;
}
.container-connexion .container-connexion-logo {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-connexion .container-connexion-logo .connexion-img {
  height: 45px;
  margin-bottom: 20px;
  width: auto;
}
.container-connexion .container-connexion-logo .container-connexion-creeCompte {
  margin-top: 25px;
}
.container-connexion .container-connexion-logo .container-connexion-creeCompte .connexion-span {
  font-size: 26px;
  background-color: white;
  border-radius: 10px 0px 0px 0px;
  padding: 15px 24px;
}
.container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span {
  font-size: 26px;
  background-color: #174AFC;
  color: white;
  border-radius: 0px 10px 0px 0px;
  padding: 15px 24px;
}
.container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span:hover {
  background-color: #FB5C2D;
  color: white;
}
.container-connexion .container-connexion-logo .container-connexion-form {
  background-color: white;
  border-radius: 0 0 5px 5px;
  margin-top: 10px;
  padding: 40px 51px;
}
.container-connexion .container-connexion-logo .container-connexion-form .container-connexion-email {
  margin-top: 40px;
  font-weight: 700;
}
.container-connexion .container-connexion-logo .container-connexion-form .container-connexion-email .connexion-email-input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  background-color: #ecebeb;
}
.container-connexion .container-connexion-logo .container-connexion-form .container-connexion-mdp {
  margin-top: 25px;
  font-weight: 700;
}
.container-connexion .container-connexion-logo .container-connexion-form .container-connexion-mdp .connexion-mdp-input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  background-color: #ecebeb;
}
.container-connexion .container-connexion-logo .container-connexion-form .container-connexion-rappeler {
  margin-top: 20px;
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-button-seco {
  margin-top: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400;
  background-color: #174AFC;
  color: white;
  height: 35px;
  width: 300px;
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-button-seco:hover {
  background-color: #FB5C2D;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-mdp-oublie {
  margin-top: 12px;
  font-size: 12px;
  color: #174AFC;
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-mdp-oublie > a::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: #174AFC;
  transition: width 0.4s;
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-mdp-oublie:hover > a::after {
  width: 30%;
}
.container-connexion .container-connexion-logo .container-connexion-form .connexion-mdp-oublie a:hover {
  color: #174AFC;
}

@media only screen and (max-width: 520px) and (min-width: 420px) {
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .connexion-span {
    font-size: 23px !important;
    padding: 15px 15px;
  }
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span {
    font-size: 23px !important;
    padding: 15px 18px;
  }
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span:hover {
    background-color: #FB5C2D;
    color: white;
  }
  .container-connexion .container-connexion-logo .container-connexion-form {
    padding: 40px 0px;
    margin-top: 4px;
    display: block;
    text-align: center;
  }
  .container-connexion .container-connexion-logo .container-connexion-form .connexion-button-seco {
    width: 250px;
  }
}
@media screen and (max-width: 419px) {
  .container-connexion .container-connexion-logo .connexion-img {
    height: 35px;
    width: auto;
  }
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .connexion-span {
    font-size: 16px !important;
    padding: 15px 22px;
  }
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span {
    font-size: 16px !important;
    padding: 15px 20px;
  }
  .container-connexion .container-connexion-logo .container-connexion-creeCompte .creerCompte-span:hover {
    background-color: #FB5C2D;
    color: white;
  }
  .container-connexion .container-connexion-logo .container-connexion-form {
    padding: 40px 15px;
  }
  .container-connexion .container-connexion-logo .container-connexion-form .container-connexion-email {
    margin-top: 10px;
  }
  .container-connexion .container-connexion-logo .container-connexion-form .container-connexion-email .connexion-email-input {
    width: 250px !important;
  }
  .container-connexion .container-connexion-logo .container-connexion-form .connexion-mdp-input {
    width: 250px !important;
  }
  .container-connexion .container-connexion-logo .container-connexion-form .connexion-button-seco {
    height: 35px;
    width: 250px;
  }
}
