@import '../components/variables';
@import '../components/boutons';
@import '../components/mixins';

// Réglage général de la page
footer {
    background-color: #12141d;
    color: white;
    width:100%;
}
// Contenu du footer //
.f-content {
    width: 100%;
    padding: 50px 0 0 0;
}
.f-menu-liste{
    display: flex;
    justify-content: space-around;
}
.menu-listes-items{
    margin-top: 10px;
}
.menu-listes-items h5{
    color: $couleur_secondaire;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 15px;
}
.menu-listes-items ul li a {
    display: block;
    color: white;
    font-size: 1rem;
    padding: 5px 0px;
}

// Ligne bleu 
.f-ligne-bleu{
    margin: 100px 200px 0 200px;
    border-bottom: 2px solid $couleur_secondaire;
}

// Bottom du footer //

.f-bottom{
    background-color: #12141d;
    height: 10vh;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .f-icone-social{
        display: flex;
        flex-direction: row;
        margin-left: 200px;
        grid-area: f-icone-social;
        
        .fab{
        margin-right: 20px;
        }
        .fab:hover{
            color: $couleur_secondaire;
        }
    }
    .f-copyright-page{
        grid-area: f-copyright-page;
    }
    .f-imgFooter{
        grid-area: f-imgFooter;
        margin-right: 200px;
    }
}
@media screen and (max-width:953px) {
    .f-menu-liste{
        flex-direction: column;
    }
    .menu-listes-items{
        width: 90%;
        text-align: center;
    }
    .f-icone-social .fab, .f-imgFooter{
        display: none;
    }
    .f-copyright-page {
        display: none;
    }
}