@import '../components/variables';
@import '../components/boutons';
@import '../components/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{

    position: relative;
    z-index: 1;
    box-shadow: 0px 3px 30px #00000029;
    
    .container-navbar{
        display: flex;
        height: 130px;
        justify-content: space-between;
    }

    a{
        font-size: 1.1875rem;
    }

}

.navbar-image{
    background-color: $couleur-principale;
    @include flex;
    cursor: pointer;
    width: 375px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    a{
        width: 100%;;
    }

    img{
        width: 50%!important;
        margin: 0 25%;
        height: 130px!important;
    }
}


nav{

    margin: auto;

        .navbar_page{
        display: flex;

        li{
            text-align: center;
            padding: 25px;
        }


        li a.active{
            font-weight: 700;
            color: red;
        }
    }
}

    .container-connexion{
        padding-right: 125px;
        margin: auto;

        .cta-connexion{
            padding-right: 30px;
        }
    }

.navbar_page {
    list-style: none;
}

@media screen and (max-width: 1550px) {
    .navbar .container-navbar{
        height: 110px;
    }

    .navbar-image img{
        height: 110px!important;
    }

    nav .navbar_page li{
        padding: 0 20px;
    }


    a{
        font-size: 1rem;
    }
}
