@import '../components/variables';
@import '../components/boutons';
@import '../components/mixins';


@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.navbar-noir.navbar-bandeau{
    .navbar-image.img-bandeau{
        height: 870px!important;
        background-color: $couleur-principale;
        border-radius: 0px;
        position: relative;
        overflow: hidden;
        animation: 2s slideInFromTop;
    }

    .navbar-image.img-bandeau::before{
        content: "";
        position: absolute;
        background-image: url(./../../../public/pattern/pattern.svg);
        height: 125%;
        width: 100%;
        inset: 0;
        z-index: 1;

    }

}


@media only screen and (max-width: 899px){
    .navbar-noir.navbar-bandeau{
        .navbar-image.img-bandeau{
            height: auto!important;
            animation: none;
            // background-color: transparent;
        }
    
        // .navbar-image.img-bandeau::before{
        //     display: none;
        // }
    
    }    
}