@import '../components/variables';
@import '../components/mixins';

// PARTIE ZONE BLEU 1
.container .zone-bleu-container .zone-text {
    grid-area: zoneText;    
    color: white;
    padding: 22vh 160px 0px 60px;
}
.container .zone-bleu-container .zone-text h1 {
    gap: 100px;
    font-size: 2.5rem;
    font-weight: bolder;
}
.container .zone-bleu-container .zone-text p {
    white-space: normal;
}

.container .zone-bleu-container .zone-photo {
    width: 750px;
    grid-area: zonePhoto; 
    padding-top: 12vh;
}
.container .zone-bleu-container .zone-photo img {
    border-radius: 80px;
}
.zone-bleu-container {
    background-color: $couleur_principale;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 85vh;
    display: flex;
    grid-template-columns: 1fr 2fr ;
    grid-row: 1fr;
    grid-template-areas: "zoneText" "zonePhoto";
}

// PARTIE ZONE BLANCHE 1

.zone-white-container-home-1 {
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 60vh;
}

// PARTIE ZONE BLACK 1

.zone-orange-container {
    background-color: $couleur_secondaire;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 60vh;
}


.zone-white-container-2 {
    background-color: white;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 80vh;
}


.zone-black-container {
    background-color: #12141D;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 110vh;
}