@import '../components/variables';
@import '../components/mixins';

.container {
    // PARTIE ZONE BLEU 1
    .zone-bleu-container-home {
        background-color: $couleur_principale;
        background-image: url(./../../../public/pattern/pattern.svg);
        height: 85vh;
        display: block;
        justify-content: center;

        .zone-text {
            text-align: center;
            color: #ffffff;
            padding: 80px 0px 0px 0px;
            h1 {
                text-align: center;
                font-size: 3rem;
                font-weight: bolder;
            }
            p {
                white-space: normal;
                font-size: 1rem;
                .zone-text-orange-paragraphe{
                    color: $couleur_secondaire;
                    font-size: 1.5rem;
                    font-weight: 800;
                }
            }
        }
        .zone-video{
            padding-top: 150px;
            display: flex;
            justify-content: center;
            .video-d-entree{
                border-radius: 50px;
                max-width: 65%;
                height: 65%;
            }
        }

    }

    // PARTIE ZONE BLANCHE 1

    .zone-white-container-home-1 {
        background-image: url(./../../../public/pattern/pattern.svg);
        min-height: 110vh;
        h2{
            padding-top: 550px;
            color: $couleur_principale;
            font-size: 60px;
            font-weight: 200;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container-les-etapes-a-suivre {
            padding-top: 60px;
            width: 65%;
            display: grid;
            text-align: center;
            margin: 30px auto;
            grid-template-columns: repeat(7, 1fr);
            .etapes {
                display: flex;
                text-align: center;
                flex-direction: column;
                .fa-solid{
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: white;
                    padding: 5px;
                    border-radius: 100px;
                    background-color: $couleur_principale;
                }
                h4{
                    margin: 0;
                    color: $couleur_principale;
                    font-weight: 600;
                }
                p {
                    margin-top: 5px;
                    color: $couleur_principale;
                    font-size: 12px;
                }
            }
        }
    }
    .zone-orange-bleu-container-home{
        height: 60vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: " partieOrange partieBleue";

        .zone-orange-home{
            background-image: url(./../../../public/pattern/pattern.svg);
            background-color: $couleur_secondaire;
            grid-area: partieOrange;
            .vous-etes-sponsor{
                padding-top: 30px;
                text-align: center;
                font-size: 3.5rem;
                color: white;
                font-weight: 200;
                span {
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
            p {
                font-size: 20px;
                color: white;
                margin: 0px 50px;
            }
            .trouver-une-annonce{
                margin-top: 50px;
                margin-left: 50px;
            }

        }
        .zone-bleu-home{
            background-image: url(./../../../public/pattern/pattern.svg);
            background-color: $couleur_principale;;
            grid-area: partieBleue;
            .vous-cherchez-un-sponsor{
                padding-top: 30px;
                text-align: center;
                font-size: 3.5rem;
                color: white;
                font-weight: 200;
                span {
                    text-decoration: underline;
                    font-weight: 500;
                }
            }
            p {
                text-align: right;
                font-size: 20px;
                color: white;
                margin: 0px 50px;
            }
            .chercher-une-annonce{
                position:relative; 
                display: inline-block; 
                float: right;
                margin-top: 50px;
                margin-right: 50px;
            }
        }
    }

    // Deuxieme partie blanche

    .zone-white-container-home-2 {
        height: 250vh;
        background-image: url(./../../../public/pattern/pattern.svg);
        .container-confiance{
            padding-top: 300px;
            text-align: center;
            h2{
                font-weight: 400;
                font-size: 60px;
            }
            .liste-confiance{
                width: 1300px;
                height: 200px;
                background-color: $couleur_secondaire;
                .photo-Puma{
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }

    //deuxième et dernière partie blanche 

    .zone-bleu-container-home-2{
        height: 50vh;
        background-color: $couleur_principale;
        background-image: url(./../../../public/pattern/pattern.svg);
    }
    
}












// PARTIE ZONE BLACK 1

.zone-orange-container {
    background-color: $couleur_secondaire;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 60vh;
}


.zone-white-container-2 {
    background-color: white;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 80vh;
}


.zone-black-container {
    background-color: #12141D;
    background-image: url(./../../../public/pattern/pattern.svg);
    height: 110vh;
}