@import '../components/variables';
@import '../components/titres';
@import '../components/mixins';

.a-propos{
    .container{
        padding: 70px 130px;
    }

    .container_equipe{
        display: flex;

            &:nth-of-type(odd){
            background-color: $couleur-principale;
            color: $blanc;
        }

            &:nth-of-type(even){
            color: $couleur-principale;
            flex-direction: row-reverse;

                 &:first-child{
                padding-left: 5%;
                
                }
            &:last-child{
                padding-right: 5%;
            }

        }

        > div{
            width: 50%;

            &:first-child{
                padding-right: 5%;
            }

            &:last-child{
                padding-left: 5%;
            }
        }

        .text{
            margin: auto;
        }

    }

    .container_logo{
        .logo_ki{
            img{

                margin: auto;
            }
        }
    }

}

