@import '../components/variables';
@import '../components/mixins';

.container-page-contact {
    background-color: white;
    height: 80vh;
    margin-top: 50px;
}

.container  .c-nom-adresse-mail{
    color: $couleur-principale;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.c-information {
    color: $couleur-principale;
    font-size: 12px;
    text-align: center;
}

// Formulaire de contact 

.section_contact{
    display: block;
    text-align: center;
    border: none;
}

.c-nom-contact{
    background-color: #ECECEC;
    margin: 35px 0px 20px 0px;
    height: 30px;
    width: 700px;
    border-radius: 10px;
}
.c-email-contact {
    background-color: #ECECEC;
    margin-bottom: 20px;
    height: 30px;
    width: 700px;
    border-radius: 10px;
}
.c-num-contact{
    background-color: #ECECEC;
    margin-bottom: 20px;
    height: 30px;
    width: 700px;
    border-radius: 10px;
}
.c-message-contact{
    background-color: #ECECEC;
    margin-bottom: 20px;
    height: 300px;
    width: 700px;
    border-radius: 10px;
}
.c-button-contact{
    display: block;
    margin: auto;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: $couleur-principale;
    height: 50px;
    width: 700px;
}