@import '../components/variables';
@import '../components/mixins';

.container-bandeau{
    width: 80%;
    margin-left: 20%;
}

.container-page-contact {
    background-color: white;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../../../public/pattern/pattern.svg);
    margin-bottom: 50px;

    input, textarea{
        padding: 13px 10px 15px 25px;
    }

    input::placeholder, textarea::placeholder{
        font-size: 21px;
    }
}

.container-page-contact  .c-nom-adresse-mail{
    color: $couleur-principale;
    font-weight: bold;
    font-size: 36px;
}
.c-information {
    color: $couleur-principale;
    font-size: 12px;
}

// Formulaire de contact 

.section_contact{
    display: block;
    border: none;
}

.c-nom-contact{
    background-color: #ECECEC;
    margin: 35px 0px 20px 0px;
    width: 700px;
    border-radius: 10px;
}
.c-email-contact {
    background-color: #ECECEC;
    margin-bottom: 20px;
    width: 700px;
    border-radius: 10px;
}
.c-num-contact{
    background-color: #ECECEC;
    margin-bottom: 20px;
    width: 700px;
    border-radius: 10px;
}
.c-message-contact{
    background-color: #ECECEC;
    margin-bottom: 20px;
    height: 300px;
    width: 700px;
    border-radius: 10px;
}
.c-button-contact{
    display: block;
    margin: auto;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: $couleur-principale;
    height: 50px;
    width: 700px;
    cursor: pointer;
}
.c-button-contact:hover{
    background-color: $couleur-secondaire;
}


@media only screen and (max-width: 1299px){
    .container-page-contact {
        input, textarea{
            padding: 7px 10px 8px 20px;
        }
    
        input::placeholder, textarea::placeholder{
            font-size: 16px;
        }
    }   
}


@media only screen and (min-width: 900px) and (max-width: 1299px) {
    .container .c-nom-adresse-mail{
        font-size: 30px;
    }
    .c-information{
        font-size: 11px;
    }
    .c-nom-contact{
        width: 450px;
    }
    .c-email-contact{
        width: 450px;
    }
    .c-num-contact{
        width: 450px;
    }
    .c-message-contact{
        width: 450px;
    }
    .c-button-contact{
        width:450px;
    }
}

@media screen and (max-width: 899px) {
    .container-page-contact, .container-bandeau{
        width:100%;
        margin-left: 0;
    }

    .c-nom-adresse-mail{
        font-size: 30px;
    }
    .c-information{
        font-size: 11px;
    }
    .c-nom-contact{
        width: 450px;
    }
    .c-email-contact{
        width: 450px;
    }
    .c-num-contact{
        width: 450px;
    }
    .c-message-contact{
        width: 450px;
    }
    .c-button-contact{
        width:450px;
    }
}

@media screen and (max-width: 650px) {
    .container-page-contact{

        input, textarea{
            width: 100%;
        }

        .section_contact{
            width: 90%;
        }
    }
}