@import '../components/variables';
@import '../components/mixins';

.container {
    height: 20vh;
}

.container  .c-nom-adresse-mail{
    color: $couleur-principale;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
.c-information {
    color: $couleur-principale;
    text-align: center;
}
.c-name-input{
    margin: 35px 0px 20px 0px;
    padding: 5px 300px;
    border-radius: 10px;
}
.c-button-contact{
    display: block;
    margin: auto;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: $couleur-principale;
    padding: 10px 300px;
}