@import '../components/variables';
@import '../components/mixins';

.container-general-modifier-annonce {
    height: 120vh;
    background-image: url(./../../../public/pattern/pattern.svg);
    .text-image-modifier {
        background-image: url(../../../public/images/deposerAnnonce.png);
        height: 200px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        .text-modifier {
            font-weight: 700;
            font-size: 40px;
            color: white;
            margin: 0;
        }
    }
    .bouton-retour-connexion {
        button {
            font-weight: 600;
            color: $couleur-principale;
            padding-left: 30px;
            margin-top: 30px;
            i {
                padding-right: 5px;
            }
        }
    }
    .container-modifier-annonce {
        margin-top: 50px;
        display: block;
        text-align: center;
        .form-group{
            padding-bottom: 30px;
            .form-control{
                border-radius: 5px;
                padding: 10px 15px;
                width: 700px; 
                background-color: #F6F6F6;
            }
        }
        .button-modifier-annonce {
            text-align: center;
            .btn-modifier{
                font-weight: 600;
                color: white;
                cursor: pointer;
                background-color: $couleur-principale;
                padding: 15px 290px;
            }
            .btn-modifier:hover{
                background-color: $couleur-secondaire;
            }
        }
    }
}


@media screen and (max-width:759px) and (min-width:520px){
    .container-general-modifier-annonce{
        height: 140vh;
        .text-image-modifier {
            .text-modifier{
                font-size: 34px;
            }
        }
        .container-modifier-annonce {
            .form-group{
                .form-control{
                    width: 500px; 
                }
            }
            .button-modifier-annonce {
                .btn-modifier{
                    padding: 15px 190px;
                }
            }
        }
    } 
}

@media screen and (max-width:519px) {
    .container-general-modifier-annonce{
        height: 130vh;
        .text-image-modifier {
            background-position: center;
            .text-modifier{
                font-size: 26px;
            }
        }
        .container-modifier-annonce {
            .form-group{
                .form-control{
                    width: 300px; 
                }
            }
            .button-modifier-annonce {
                .btn-modifier{
                    padding: 15px 110px;
                }
            }
        }
    }
}