@import '../components/variables';
@import '../components/titres';
@import '../components/boutons';
@import '../components/mixins';

.container-general-nos-offres{
    background-image: url(./../../../public/pattern/pattern.svg);
    
    
    
    .titre-de-la-page-tarif{
        padding-top: 50px;
        color: $couleur-txt-noir;
        font-size: 70px;
        font-weight: 700;
    }
    
    .sous-titre-tarif{
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        line-height: inherit;
    }
    
    .container-offres {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 40px;
        margin: 150px 160px;
        
        .card{
            display: flex;
            flex-direction: column;
            height: fit-content;
            background-color: $blanc;
            border-radius: 10px;
            color: $couleur-txt-noir;
            box-shadow: 0 3px 70px rgba(0, 0, 0, 16%);
            padding: 0 30px 20px 30px;
            min-height: 560px;
            
            h3{
                font-size: 54px;
                color: $couleur-principale;
                font-weight: 700;
                position: relative;
                margin-bottom: 10px;
            }
            
            h3:before{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 80%;
                height: 1px;
                background-color: $gris;                
            } 
            
            ul{
                margin-bottom: 20px;
            }
            
            .grow{
                flex-grow: 1;
                margin-top: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            
            .tarif{
                span{
                    font-size: 46px;
                    font-weight: 500;
                }
                
                p:first-child{
                    margin: 0;
                    position: relative;
                    
                    &:before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 80%;
                        height: 1px;
                        background-color: $gris;
                    }
                }
                
                p:last-child{
                    margin: 0 0 30px 0;
                }
            }
            
            
            .btn-start a{
                background-color: $couleur-principale;
                color: $blanc;
                border-radius: 10px;
                width: 100%;
                padding: 20px;
                display: block;
                text-align: center;
            }
            
            .icon-check li{
                padding-left: 40px;
                position: relative;
                font-size: 25px;
            }
            
            .icon-check li:before{
                content: "";
                position: absolute;
                background-image: url("./../../../public/images/icones/chevron-right-Filled.svg");
                background-size: contain;
                width: 38px;
                height: 38px;
                left: -10px;
                top: 0px;
            }
        }
        
        .deuxieme-container-deluxe {
            margin: 0px 30px;
            position: relative;
            transform: scale(1.1);
            -ms-transform: scale(1.1);
            -webkit-transform: scale(1.1);
        }
        
        .deuxieme-container-deluxe:before{
            content: "";
            position: absolute;
            background: url("./../../../public/images/icones/star-Filled.svg");
            right: -15px;
            top: -30px;
            width: 46px;
            height: 57px;
        }
    }
}


@media only screen and (max-width: 1700px){
    
    .container-general-nos-offres{
        .container-offres{
            .card{
                
                min-height: 90%;
                
                h3{
                    font-size: 35px;
                    margin-top: 20px;
                }
                
                .icon-check li{
                    font-size: 20px;
                    
                    &:before{
                        width: 32px;
                    }
                }
                
                .tarif{
                    span{
                        font-size: 30px;
                    }
                    
                    p{
                        font-size: 20px;
                    }
                }
                
                .btn-start a{
                    padding: 13px 20px;
                }
                
                &.deuxieme-container-deluxe{
                    margin: 0;
                }
            }
            
        }
    }
}


@media screen and (max-width: 1400px) {
    
    .container-general-nos-offres{
        .titre-de-la-page-tarif {
            font-size: 45px;
        }
        .container-offres {     
            gap: 20px;
            margin: 110px 100px;
            
            .card{
                &.deuxieme-container-deluxe{
                    transform: scale(1);
                    -ms-transform: scale(1);
                    -webkit-transform: scale(1);
                    margin-top: -20px;
                }
                
                .icon-check li{
                    font-size: 16px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1200px){
    .container-general-nos-offres{
        .container-offres{
            margin: 110px 50px;
        }
    }
}

@media only screen and (max-width: 900px){
    .container-general-nos-offres{
        .titre-de-la-page-tarif {
            font-size: 35px;
            padding-top: 20px;
        }

        .sous-titre-tarif{
            font-size: 20px;
        }

        .container-offres{
            grid-template-columns: 1fr;

            .card{
                max-width: 440px;
                justify-self: center;
                min-height: inherit;
                width: 100%;

                h3{
                    font-size: 25px;
                }

                &.deuxieme-container-deluxe{
                    margin-top: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px){
    .container-general-nos-offres{
        .container-offres{
            margin: 70px 20px;
            .card{
                padding: 0 20px 20px 20px;

                &.deuxieme-container-deluxe{
                    margin-top: 0px;
                }

                .tarif{
                    p:last-child{
                        font-size: 18px;
                    }
                } 
            }
        }
    }
}