@import '../components/variables';
@import '../components/mixins';

.container-dashboard {
    background-image: url(./../../../public/pattern/pattern.svg);

    .texte-bienvenu-dashboard{
        padding-top: 40px;
        h2 {
            color: $couleur-secondaire;
            text-align: center;
        }
        p {
            font-size: 16px;
            color: $couleur-principale;
            text-align: center;
        }
    }
    .parametres-Like-Deconnection {
        margin-top: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        justify-content: center;

        .bouton-parametres{
            padding: 13px 30px;
            margin: 20px 0;
            border-radius: 10px;
            display: inline-block;
            transition: .4s;
            padding-top: 40px;
            background-color: #12141D;
            border: 1px solid #12141D;
            color: $blanc;

            .icone {
                i {
                    font-size: 75px;
                }
            }
            .texte{
                p{
                    margin: 20px 0 0 0;
                    font-size: 14px;

                }
            }
            
        }
        .bouton-parametres:hover {
            background-color: transparent;
            border: 1px solid black;
            color: black;
        }
        .bouton-likes{
            padding: 13px 30px;
            margin: 20px 0;
            border-radius: 10px;
            display: inline-block;
            transition: .4s;
            padding-top: 40px;
            background-color: $couleur-secondaire;
            border: 1px solid $couleur-secondaire;
            color: $blanc;

            .icone {
                i {
                    font-size: 75px;
                }
            }
            .texte{
                p{
                    margin: 20px 0 0 0;
                    font-size: 14px;

                }
            }
            
        }
        .bouton-likes:hover {
            background-color: transparent;
            border: 1px solid $couleur-secondaire;
            color: $couleur-secondaire;
        }
        .bouton-logout{
            padding: 13px 30px;
            margin: 20px 0;
            border-radius: 10px;
            display: inline-block;
            transition: .4s;
            padding-top: 40px;
            background-color: $couleur-principale;
            border: 1px solid $couleur-principale;
            color: $blanc;

            .icone {
                i {
                    font-size: 75px;
                }
            }
            .texte{
                p{
                    margin: 20px 0 0 0;
                    font-size: 14px;

                }
            }
            
        }
        .bouton-logout:hover {
            background-color: transparent;
            border: 1px solid $couleur-principale;
            color: $couleur-principale;
        }

        

    }
    .annonce-delete-alerte {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        .alert-delete {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            padding: 20px;
            background-color: $couleur-secondaire;
            color: white;
            width: 600px;
            border-radius: 10px;
        }
    }    
    .mes-annonces{
        padding-top: 60px;
        width: 70%;
        margin: auto;
        h3 {
            font-size: 50px;
            margin: 0;
        }
    }                                   
    .publication-deposer-user {
        margin: 30px auto;
        max-width: 1300px;
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        .pl-list{
            background-color: #F6F6F6;
            border-radius: 10px;
            display: grid;
            grid-template-columns: 1.5fr 2fr;
            margin-top: 40px;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.6);
            .partie-photo {
                .photo-consulter-annonce{
                    border-radius: 10px 0 0 10px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 400px;
                    max-width: 100%;
                }
            }
            .partie-description {
                position: relative;
                display: flex;
                flex-direction: column;
                h4 {
                    margin: 30px 0 0 30px;
                    color: $couleur-principale;
                    font-weight: 600;
                }
                .fa-quote-left{
                    margin-left: 30px;
                    padding-top: 20px;
                    color: $couleur_secondaire;
                    font-size: 30px;
                }
                p {
                    margin-left: 30px;
                    margin: 0;
                }
                .container-product-description {
                    .description-text {
                        margin-left: 30px;
                        font-size: 14px;
                        font-weight: 700;
                    }
                    .description-annonce {
                        margin-left: 30px;
                        font-size: 16px;
                        padding: 3px 0 10px 0;
                    }
                }
                .class-budget {
                    margin-left: 30px;
                    font-size: 14px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                }
                .class-somme-budget {
                    text-align: center;
                    font-size: 42px;
                }
                .details-annonce {
                    padding-top: 20px;
                    display: grid;
                    justify-content: space-around;
                    grid-template-columns: repeat(3, 1fr);
                    .details-creation {
                        display: flex;
                        justify-content: center;
                        .fa-solid {
                            color: $couleur-principale;
                            padding-right: 10px;
                        }
                        .date-creation{
                            font-size: 12px;
                        }
                    }
                }
                .container-bleu {
                    position:absolute; 
                    bottom:0;
                    width: 100%;
                    .info-savoir-plus {
                        .bouton {
                            width: 100%;
                            background-color: $couleur-principale;
                            border-radius: 0 0 10px 0;
                        }
                        .savoir-plus {
                            padding: 10 ;
                            color: white;
                        }
                        .bouton:hover {
                            padding: 10 ;
                            color: white;
                            background-color: #12141D ;
                        }
                    }
                }
            }
            
        }
        .btn-modif-supp{
            display: flex;
            flex-direction: row;
            .btn {
                margin-left: 20px;
                
            }
        }

        .avertissement {
            height: 40vh;
            h3{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width:774px) and (min-width:470px) {
    .container-dashboard{

        .texte-bienvenu-dashboard{
            h2 {
                font-size: 4rem;
            }
        }
    }
}
@media screen and (max-width:469px) {
    .container-dashboard{
            .texte-bienvenu-dashboard{
                h2 {
                    font-size: 3rem;
                }
            }
            .publication-deposer-user {
                justify-content: normal;
                .publication {
                    width: 300px;
                    img{
                        width: 300px;
                    }
                }
            }
            .avertissement {
                width: 300px;
                h3{
                    font-size: 13px!important;
                }
            }
            
    }
}