.btn {
  padding: 13px 30px;
  margin: 20px 0;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s;
}

.btn_orange {
  background-color: #FB5C2D;
  border: 1px solid #FB5C2D;
  color: #FFFFFF;
}

.btn_orange:hover,
.btn_orange:active,
.btn_orange:focus {
  background-color: transparent;
  border: 1px solid #FB5C2D;
  color: #FB5C2D;
}

.btn_bleu {
  background-color: #174AFC;
  border: 1px solid #174AFC;
  color: #FFFFFF;
}

.btn_bleu:hover,
.btn_bleu:active,
.btn_bleu:focus {
  background-color: transparent;
  border: 1px solid #174AFC;
  color: #174AFC;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}
