h2 {
  font-size: 5.3125rem;
  font-weight: 900;
  line-height: 100px;
}

h3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 50px;
}

p {
  margin: 20px 0;
  font-size: 1.375rem;
  font-weight: 400;
}

.a-propos .container {
  padding: 70px 130px;
}
.a-propos .container_equipe {
  display: flex;
}
.a-propos .container_equipe:nth-of-type(odd) {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
  background-color: #174AFC;
  color: #FFFFFF;
}
.a-propos .container_equipe:nth-of-type(even) {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
  color: #174AFC;
  flex-direction: row-reverse;
}
.a-propos .container_equipe:nth-of-type(even):first-child {
  padding-left: 5%;
}
.a-propos .container_equipe:nth-of-type(even):last-child {
  padding-right: 5%;
}
.a-propos .container_equipe > div {
  width: 50%;
}
.a-propos .container_equipe > div:first-child {
  padding-right: 5%;
}
.a-propos .container_equipe > div:last-child {
  padding-left: 5%;
}
.a-propos .container_equipe .text {
  margin: auto;
}
.a-propos .container_logo {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.a-propos .container_logo .logo_ki img {
  margin: auto;
}
