.container-consulter-annonce {
  padding-top: 40px;
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.container-consulter-annonce .container-recherche {
  display: flex;
  justify-content: center;
}
.container-consulter-annonce .container-recherche .barre-recherche {
  background-color: #F6F6F6;
  border-radius: 10px;
}
.container-consulter-annonce .container-recherche .barre-recherche .g-navSearch {
  width: 650px;
  background-color: #F6F6F6;
  padding: 10px 15px;
}
.container-consulter-annonce .container-recherche .barre-recherche .fa-magnifying-glass {
  color: #174AFC;
  background-color: #B6B9C3;
  border-radius: 10px;
  padding: 14px 25px;
}
.container-consulter-annonce .container-recherche input:focus {
  outline: none;
}
.container-consulter-annonce .container-flitre-recherche {
  background-color: #F6F6F6;
  margin: 30px auto;
  width: 50%;
  border-radius: 10px;
}
.container-consulter-annonce .container-flitre-recherche .form-control {
  border-radius: 5px;
  width: 135px;
  background-color: #F6F6F6;
}
.container-consulter-annonce .container-flitre-recherche .form-control:focus {
  outline: none;
}
.container-consulter-annonce .annonce {
  padding-top: 80px;
  margin: 30px auto;
  max-width: 1300px;
  width: 80%;
  height: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-gap: 100px;
}
.container-consulter-annonce .annonce .pl-list {
  width: 600px;
  height: auto;
  border-radius: 10px;
}
.container-consulter-annonce .annonce .pl-list .fa-quote-left {
  color: #FB5C2D;
  font-size: 50px;
}
.container-consulter-annonce .annonce .pl-list .container-details-publication {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}
.container-consulter-annonce .annonce .pl-list .container-details-publication p {
  margin: 0;
  flex-wrap: nowrap;
  font-size: 10px;
}
.container-consulter-annonce .annonce .pl-list .container-details-publication .localisation {
  padding: 5px 60px;
  align-items: center;
  margin: 0;
  color: white;
  background-color: #174AFC;
  border-radius: 0 0 20px 20px;
}
.container-consulter-annonce .annonce .pl-list .container-details-publication .categorie {
  padding: 5px 60px;
  align-items: center;
  margin: 0;
  color: white;
  background-color: #174AFC;
  border-radius: 0 0 20px 20px;
}
.container-consulter-annonce .annonce .pl-list .container-details-publication .date-creation {
  color: white;
  padding: 5px 60px;
  height: 45px;
  background-color: #174AFC;
  border-radius: 0 0 30px 30px;
}
