.container-consulter-annonce {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.container-consulter-annonce .text-image-annonce {
  background-image: url(/images/groupe.png?6bb98f45aa9989c32dc7e304c4298fe4);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-consulter-annonce .text-image-annonce .text-annonce {
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 0;
}
.container-consulter-annonce .container-noir-filter {
  padding: 50px;
  background-color: #12141D;
}
.container-consulter-annonce .container-noir-filter .container-recherche {
  display: flex;
  justify-content: center;
}
.container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche {
  background-color: #F6F6F6;
  border-radius: 10px;
}
.container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche .g-navSearch {
  border-radius: 10px;
  width: 650px;
  background-color: #F6F6F6;
  padding: 10px 15px;
}
.container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche .fa-magnifying-glass {
  color: #174AFC;
  background-color: #B6B9C3;
  border-radius: 10px;
  padding: 14px 25px;
}
.container-consulter-annonce .container-noir-filter .container-recherche input:focus {
  outline: none;
}
.container-consulter-annonce .container-noir-filter .container-flitre-recherche {
  background-color: #F6F6F6;
  margin: 30px auto;
  width: 50%;
  border-radius: 10px;
}
.container-consulter-annonce .container-noir-filter .container-flitre-recherche .form-control {
  border-radius: 5px;
  width: 135px;
  background-color: #F6F6F6;
}
.container-consulter-annonce .container-noir-filter .container-flitre-recherche .form-control:focus {
  outline: none;
}
.container-consulter-annonce .annonce-success-alerte {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.container-consulter-annonce .annonce-success-alerte .alert-succes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding: 20px;
  background-color: #174AFC;
  color: white;
  width: 600px;
  border-radius: 10px;
}
.container-consulter-annonce .annonce {
  padding-top: 40px;
  margin: 30px auto;
  max-width: 1300px;
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-consulter-annonce .annonce .pl-list {
  background-color: #F6F6F6;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin-top: 40px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}
.container-consulter-annonce .annonce .pl-list .partie-photo .photo-consulter-annonce {
  border-radius: 10px 0 0 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 100%;
}
.container-consulter-annonce .annonce .pl-list .partie-description {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 30px;
}
.container-consulter-annonce .annonce .pl-list .partie-description h4 {
  color: #174AFC;
  font-weight: 600;
}
.container-consulter-annonce .annonce .pl-list .partie-description .fa-quote-left {
  padding-top: 20px;
  color: #FB5C2D;
  font-size: 30px;
}
.container-consulter-annonce .annonce .pl-list .partie-description p {
  margin: 0;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-text {
  font-size: 14px;
  font-weight: 700;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-annonce {
  font-size: 16px;
  padding: 3px 0 10px 0;
}
.container-consulter-annonce .annonce .pl-list .partie-description .class-budget {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.container-consulter-annonce .annonce .pl-list .partie-description .class-somme-budget {
  text-align: center;
  font-size: 42px;
}
.container-consulter-annonce .annonce .pl-list .partie-description .details-annonce {
  padding-top: 20px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
}
.container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation {
  display: flex;
  justify-content: center;
}
.container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .fa-solid {
  color: #174AFC;
  padding-right: 10px;
}
.container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .date-creation {
  font-size: 12px;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like {
  display: grid;
  justify-content: center;
  grid-template-columns: 4fr 0.5fr;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .bouton {
  width: 100%;
  background-color: #174AFC;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .savoir-plus {
  padding: 10;
  color: white;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .bouton:hover {
  padding: 10;
  color: white;
  background-color: #12141D;
}
.container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .container-addLike {
  background-color: #FB5C2D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 0;
}

@media screen and (min-width: 880px) and (max-width: 1330px) {
  .container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche .g-navSearch {
    width: 550px;
  }
  .container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche .fa-magnifying-glass {
    padding: 14px 25px;
  }
  .container-consulter-annonce .container-noir-filter .container-flitre-recherche {
    width: 70%;
  }
  .container-consulter-annonce .container-noir-filter .container-flitre-recherche .form-control {
    width: 115px;
  }
  .container-consulter-annonce .annonce {
    width: 90%;
  }
  .container-consulter-annonce .annonce .pl-list {
    grid-template-columns: 1.2fr 2fr;
  }
  .container-consulter-annonce .annonce .pl-list .partie-photo .photo-consulter-annonce {
    height: 350px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description h4 {
    color: #174AFC;
    font-weight: 600;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .fa-quote-left {
    padding-top: 10px;
    font-size: 25px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-text {
    font-size: 12px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-annonce {
    font-size: 14px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .class-budget {
    font-size: 12px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .class-somme-budget {
    font-size: 36px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce {
    padding-top: 15px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .fa-solid {
    color: #174AFC;
    padding-right: 5px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .date-creation {
    font-size: 10px;
  }
}
@media screen and (min-width: 350px) and (max-width: 879px) {
  .container-consulter-annonce .text-image-annonce {
    height: 150px;
    background-position: center;
  }
  .container-consulter-annonce .text-image-annonce .text-annonce {
    font-size: 30px;
  }
  .container-consulter-annonce .container-noir-filter {
    padding: 30px;
  }
  .container-consulter-annonce .container-noir-filter .container-recherche .barre-recherche .g-navSearch {
    width: 250px;
  }
  .container-consulter-annonce .container-noir-filter .container-flitre-recherche {
    width: 95%;
  }
  .container-consulter-annonce .container-noir-filter .container-flitre-recherche .form-control {
    font-size: 10px;
    width: 85px;
  }
  .container-consulter-annonce .container-noir-filter .container-flitre-recherche .btn {
    padding: 7px 15px;
  }
  .container-consulter-annonce .annonce-success-alerte .alert-succes {
    font-size: 14px;
    width: 400px;
  }
  .container-consulter-annonce .annonce {
    width: 90%;
  }
  .container-consulter-annonce .annonce .pl-list {
    display: block;
  }
  .container-consulter-annonce .annonce .pl-list .partie-photo .photo-consulter-annonce {
    border-radius: 10px;
    height: 250px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description {
    border-radius: 10px;
    margin: 0px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description h4 {
    margin-top: 5px;
    margin-left: 5px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .fa-quote-left {
    margin-left: 5px;
    padding-top: 5px;
    font-size: 20px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-text {
    margin-left: 5px;
    font-size: 12px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-product-description .description-annonce {
    margin-left: 5px;
    font-size: 12px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .class-budget {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .class-somme-budget {
    text-align: center;
    font-size: 22px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce {
    padding-top: 20px;
    display: grid;
    margin-bottom: 60px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation {
    display: flex;
    justify-content: center;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .fa-solid {
    color: #174AFC;
    font-size: 12px;
    padding-right: 3px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .details-annonce .details-creation .date-creation {
    font-size: 8px;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like {
    display: grid;
    justify-content: center;
    grid-template-columns: 4fr 0.5fr;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .bouton {
    border-radius: 0 0 0 10px;
    width: 100%;
    background-color: #174AFC;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .savoir-plus {
    padding: 10;
    color: white;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .bouton:hover {
    padding: 10;
    color: white;
    background-color: #12141D;
  }
  .container-consulter-annonce .annonce .pl-list .partie-description .container-bleu .info-savoir-plus-like .container-addLike {
    background-color: #FB5C2D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 0;
  }
}
