.container-pas-connecte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.container-pas-connecte .container-carre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  background-color: #ecebeb;
  border-radius: 10px;
}
.container-pas-connecte .container-carre h4 {
  margin-top: 25px;
}

.container-deposer-annonce {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
  padding-top: 100px;
  display: block;
  text-align: center;
}
.container-deposer-annonce .form-group {
  padding-bottom: 30px;
}
.container-deposer-annonce .form-group .form-control {
  border-radius: 5px;
  padding: 10px 15px;
  width: 700px;
  background-color: #F6F6F6;
}

.button-submit-annonce {
  text-align: center;
}
.button-submit-annonce .btn-primary {
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #174AFC;
  padding: 15px 500px;
}
.button-submit-annonce .btn-primary:hover {
  background-color: #FB5C2D;
}

.button-besoin-aide-annonce {
  text-align: center;
}
.button-besoin-aide-annonce .besoin-d-aide-annonce {
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #FB5C2D;
  padding: 15px 475px;
}
.button-besoin-aide-annonce .besoin-d-aide-annonce:hover {
  background-color: #174AFC;
}
