.container-pas-connecte {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
}
.container-pas-connecte .container-carre {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 10px;
}
.container-pas-connecte .container-carre h4 {
  color: #12141D;
  font-size: 26px;
  margin-top: 25px;
  padding-bottom: 15px;
}
.container-pas-connecte .container-carre p {
  text-align: center;
  margin: 0px 30px;
  font-size: 26px;
}
.container-pas-connecte .container-carre a button {
  padding: 10px 120px;
}

.container-deposer-annonce {
  background-image: url(/images/pattern.svg?8057cdee41d32b16ac017c267c4f6fc6);
  display: block;
  text-align: center;
}
.container-deposer-annonce .text-image-deposer {
  background-image: url(/images/deposerAnnonce.png?b86494b3cc548782ef5dde43b70be44f);
  height: 200px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-deposer-annonce .text-image-deposer .text-deposer {
  font-weight: 700;
  font-size: 40px;
  color: white;
  margin: 0;
}
.container-deposer-annonce .container-texte-avant-form {
  padding-top: 45px;
  width: 50%;
  margin: 30px auto;
}
.container-deposer-annonce .container-texte-avant-form h4 {
  font-weight: 600;
  font-size: 22px;
}
.container-deposer-annonce .container-texte-avant-form p {
  width: 60%;
  margin: 30px auto;
  font-size: 16px;
}
.container-deposer-annonce .form-group {
  padding-bottom: 30px;
}
.container-deposer-annonce .form-group .form-control {
  border-radius: 5px;
  padding: 10px 15px;
  width: 700px;
  background-color: #F6F6F6;
}
.container-deposer-annonce .button-submit-annonce {
  text-align: center;
}
.container-deposer-annonce .button-submit-annonce .btn-primary {
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #174AFC;
  padding: 15px 325px;
}
.container-deposer-annonce .button-submit-annonce .btn-primary:hover {
  background-color: #FB5C2D;
}

@media screen and (max-width: 759px) and (min-width: 520px) {
  .container-deposer-annonce .text-image-deposer .text-deposer {
    font-size: 34px;
  }
  .container-deposer-annonce .container-texte-avant-form {
    width: 70%;
  }
  .container-deposer-annonce .container-texte-avant-form h4 {
    font-weight: 600;
    font-size: 20px;
  }
  .container-deposer-annonce .container-texte-avant-form p {
    width: 80%;
    margin: 30px auto;
    font-size: 14px;
  }
  .container-deposer-annonce .form-group .form-control {
    width: 500px;
  }
  .container-deposer-annonce .button-submit-annonce .btn-primary {
    padding: 15px 210px;
  }
  .container-deposer-annonce .button-submit-annonce .besoin-d-aide-annonce {
    padding: 15px 185px;
  }
}
@media screen and (max-width: 519px) {
  .container-deposer-annonce .text-image-deposer {
    background-position: center;
  }
  .container-deposer-annonce .text-image-deposer .text-deposer {
    font-size: 26px;
  }
  .container-deposer-annonce .container-texte-avant-form {
    padding-top: 45px;
    width: 80%;
    margin: 30px auto;
  }
  .container-deposer-annonce .container-texte-avant-form h4 {
    font-weight: 600;
    font-size: 18px;
  }
  .container-deposer-annonce .container-texte-avant-form p {
    width: 80%;
    margin: 30px auto;
    font-size: 14px;
  }
  .container-deposer-annonce .form-group .form-control {
    width: 300px;
  }
  .container-deposer-annonce .button-submit-annonce .btn-primary {
    padding: 15px 110px;
  }
  .container-deposer-annonce .button-submit-annonce .besoin-d-aide-annonce {
    padding: 15px 85px;
  }
}
