.container-error-404 {
  background-image: url(/images/pattern404.svg?aed0be67617381edad9d969cc7d5067c);
  background-color: #174AFC;
  height: 90vh;
  display: block;
  text-align: center;
  color: #FFFFFF;
}
.container-error-404 h2 {
  font-size: 100px;
}
