@import '../components/variables';

.btn{
    padding: 13px 30px;
    margin: 20px 0;
    border-radius: 10px;
    display: inline-block;
    transition: .4s;
}

.btn_orange{
    background-color: $couleur-secondaire;
    border: 1px solid $couleur-secondaire;
    color: $blanc;
}

.btn_orange:hover,
.btn_orange:active,
.btn_orange:focus{
    background-color: transparent;
    border: 1px solid $couleur-secondaire;
    color: $couleur-secondaire;
}

.btn_bleu{
    background-color: $couleur-principale;
    border: 1px solid $couleur-principale;
    color: $blanc;
}

.btn_bleu:hover,
.btn_bleu:active,
.btn_bleu:focus{
    background-color: transparent;
    border: 1px solid $couleur-principale;
    color: $couleur-principale;
}

.container{
    width: 100%!important;
    max-width: 100%!important;
}