// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//  COULEURS

$couleur-principale: #174AFC;
$couleur-secondaire: #FB5C2D;
$couleur-txt-noir: #12141D;
$noir: #000000;
$blanc: #FFFFFF;
$gris: #707070;
$gris-clair: #F6F6F6;

$border-radius: 10px;

// typos
// $roboto: 'Roboto', sans-serif;
