@import '../components/variables';
@import '../components/boutons';
@import '../components/mixins';

.container-register{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 235, 235);

    .registrer-img{
        height: 45px;
        width: auto;
    }
    .container-register-connexion-creeCompte{
        font-size: 26px;
        margin-top: 45px;
        .register-connexion-span{
            background-color: $couleur-principale;
            color: white;
            border-radius: 10px 0px 0px 0px;
            padding: 15px 24px;
        }
        .register-connexion-span:hover{
            background-color: $couleur-secondaire;
            color: white;
        }
        .register-creerCompte-span{
            background-color: white;
            border-radius: 0px 10px 0px 0px;
            padding: 15px 24px;
        }
    }
    .container-register-form{
        background-color: white;
        margin-top: 10px;
        border-radius: 0 0 5px 5px;
        padding: 40px 51px;

        .container-register-nom{
            margin-top: 40px;
            font-weight: 700;
            .register-nom-input{
                height: 30px;
                width: 300px;
                border-radius: 5px;
                background-color: rgb(236, 235, 235);
            }
        }
        .container-register-email{
            margin-top: 25px;
            font-weight: 700;
            .register-email-input{
                height: 30px;
                width: 300px;
                border-radius: 5px;
                background-color: rgb(236, 235, 235);
            }
        }
        .container-register-mdp{
            margin-top: 25px;
            font-weight: 700;

            .register-mdp-input{
                height: 30px;
                width: 300px;
                border-radius: 5px;
                background-color: rgb(236, 235, 235);
            }
        }
        .container-register-mdp-confirm{
            margin-top: 25px;
            font-weight: 700;

            .register-mdp-confirm-input{
                height: 30px;
                width: 300px;
                border-radius: 5px;
                background-color: rgb(236, 235, 235);
            }
        }
        .register-errors{
            margin-top: 30px;
        }

        .register-button-rejoindre{
            margin-top: 60px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 400;
            background-color: $couleur-principale;
            color: white;
            height: 35px;
            width: 300px;
        }
        .register-button-rejoindre:hover{
            background-color: $couleur-secondaire;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
    }
}


@media screen and (min-width:336px) and (max-width:410px) {

    .container-register {
        .container-register-connexion-creeCompte{
            font-size: 23px !important;
            .register-connexion-span{
                padding: 15px 15px;
            }
            .register-creerCompte-span{
                padding: 15px 15px;
            }
            .register-creerCompte-span:hover{
                background-color: $couleur-secondaire;
                color: white;
            }
        }
        .container-register-form{
            padding: 40px 16px;
        }
    }
}

@media screen and (max-width:335px){

    .container-register {
        height: 120vh !important;
        .register-img{
            height: 35px;
            width: auto;
        }
        .container-register-connexion-creeCompte{
            font-size: 18px !important;
            .register-connexion-span{
                padding: 15px 15px;
            }
            .register-creerCompte-span{
                padding: 15px 15px;
            }
            .register-creerCompte-span:hover{
                background-color: $couleur-secondaire;
                color: white;
            }
        }
        .container-register-form{
            padding: 40px 15px;

            .register-nom-input{
                width: 250px !important;
            }
            .register-email-input{
                width: 250px !important;
            }
            .register-mdp-input{
                width: 250px !important;
            }
            .register-mdp-confirm-input{
                width: 250px !important;
            }
            .register-button-rejoindre{
                height: 35px;
                width: 250px;
            }
        }
    }
}