.btn {
  padding: 13px 30px;
  border-radius: 10px;
  display: inline-block;
  transition: 0.4s;
}

.btn_orange {
  background-color: #FB5C2D;
  border: 1px solid #FB5C2D;
  color: #FFFFFF;
}

.btn_orange:hover,
.btn_orange:active,
.btn_orange:focus {
  background-color: transparent;
  border: 1px solid #FB5C2D;
  color: #FB5C2D;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  position: relative;
  z-index: 1;
  box-shadow: 0px 3px 30px #00000029;
}
.navbar .container-navbar {
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.navbar-image {
  background-color: #174AFC;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar-image a {
  width: 100%;
}
.navbar-image img {
  width: 50% !important;
  margin: 0 25%;
  height: 130px !important;
}

nav {
  margin: auto;
}
nav .navbar_page {
  display: flex;
}
nav .navbar_page li {
  text-align: center;
  padding: 25px;
}
nav .navbar_page li a:active,
nav .navbar_page li a:focus {
  font-weight: 700;
  color: red;
}

.container-connexion {
  padding-right: 100px;
  margin: auto;
}
.container-connexion .cta-connexion {
  padding: 13px 30px;
}

.navbar_page {
  list-style: none;
}

@media screen and (max-width: 1550px) {
  .navbar .container-navbar {
    height: 80px;
  }

  .navbar-image img {
    height: 80px !important;
  }

  nav .navbar_page li {
    padding: 0 20px;
  }
}
